.question-card {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.option {
  margin-bottom: 10px;
}
label {
  cursor: pointer;
  display: inline-block;
}
.error {
  color: red;
  margin-top: 1rem;
  font-size: 0.9rem;
}
